


 
/*** Fuente primaria  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;900&display=swap" rel="stylesheet"> **/

/*** Fuente secundaria  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap" rel="stylesheet">  **/


/** font-family: 'Source Sans Pro', sans-serif ;  **/

//1-Copiar las fuentes en la carpeta assets/fonts

//2-copiar font-face
//3-Llenar fuentes 

@font-face {
	font-family: 'CeraPRO-Bold';
	src: url("../assets/fonts/3447DA_0_0.eot");
	src: url("../assets/fonts/3447DA_0_0.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/3447DA_0_0.woff2") format("woff2"), url("../assets/fonts/3447DA_0_0.woff") format("woff"), url("../assets/fonts/3447DA_0_0.ttf") format("truetype")
}



$font-family-primary: 'Source Sans Pro', sans-serif ;

$font-family-light:   'Source Sans Pro', sans-serif ;
$font-family-regular: 'Source Sans Pro', sans-serif ;
$font-family-medium:  'Source Sans Pro', sans-serif ;
$font-family-bold:    'CeraPRO-Bold', sans-serif ;

/** font-family: 'Playfair Display', serif; **/

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 900;


$font-family-secondary: 'Playfair Display', serif;

$font-weight-secondary-light:200;
$font-weight-secondary-regular:400;
$font-weight-secondary-medium:700;
$font-weight-secondary-bold:900;

$primary-guide:#121F2A;
$secondary-guide:#C93535;


$error-primary:#FD675E ;
$link:    rgb(207, 236, 240) ;
$linkHover:#999 ;
$black:   #111111  ;
$primary:  #C93535 ;
$font-primary:#2C2C2C;



$headers:
/* name:mobile,768,992,1280,line-height,font */
( h1: (32px, 32px, 32px, 32px, 40px, 1.2, "bold"),
  h2: (24px, 24px, 24px, 24px, 32px, 1.2, "bold"),
  h3: (18px, 18px, 18px, 18px, 24px, 1.2, "medium"),
  h4: (16px, 16px, 16px, 16px, 18px, 1.2, "medium"),
  h5: (14px, 14px, 14px, 14px, 16px, 1.2, "medium"),
  h6: (12px, 12px, 12px, 12px, 14px, 1.2, "medium"),
  h7: (10px, 10px, 10px, 10px, 12px, 1.2, "medium"),
  h8: (8px, 8px, 8px, 8px, 10px, 1.2, "medium"),

  second-h1: (32px, 32px, 32px, 32px, 40px, 1.2, "2-regular"),
  second-h2: (24px, 24px, 24px, 24px, 32px, 1.2, "2-regular"),
  second-h3: (18px, 18px, 18px, 18px, 24px, 1.2, "2-regular"),
  second-h4: (16px, 16px, 16px, 16px, 18px, 1.2, "2-regular"),
  second-h5: (14px, 14px, 14px, 14px, 16px, 1.2, "2-regular"),
  second-h6: (12px, 12px, 12px, 12px, 14px, 1.2, "2-regular"),
  second-h7: (10px, 10px, 10px, 10px, 12px, 1.2, "2-regular"),
  second-h8: (8px, 8px, 8px, 8px, 10px, 1.2, "2-regular"),

  p1: (12px, 12px, 12px, 12px, 14px, 1.4, "regular"),
  p2: (14px, 14px, 16px, 16px, 18px, 1.4, "regular"),
  p4: (14px, 14px, 16px, 16px, 18px, 1.4, "medium"));



/* TYPES FIJOS */
$headersFixers: (
  /*name :  fontsize, lineheight */
  12 : (12px, 1.5),
  14 : (14px, 1.5),
  16 : (16px, 1.5),
  18 : (18px, 1.5),
  20 : (20px, 1.5),
  24 : (24px, 1.5),
);

$headersFluids: (/*name :  fontsize, lineheight */
12 : (12px, 12px, 1.2),
14 : (14px, 12px, 1.2),
16 : (16px, 12px, 1.2),
18 : (18px, 12px, 1.2),
20 : (14px, 32px, 1.2),
50 : (30px, 50px, 1.2),
100 : (40px, 100px, .9)

) ;


$mb: "margin-bottom";
$margin-bottom:
/* name : margen bottom*/
(mb-4: (4px, 4px, 4px, 4px),
  mb-10: (10px, 10px, 10px, 10px),
  mb-16: (10px, 10px, 16px, 16px),
  mb-20: (10px, 20px, 20px, 20px),
  mb-24: (20px, 20px, 24px, 24px),
  mb-30: (10px, 30px, 30px, 30px),
  mb-40: (20px, 40px, 40px, 40px),
  mb-50: (20px, 50px, 50px, 50px));
.hg .p-50 {
  padding: 50px;
}




