h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
strong {
  color: $green-light;
}
.page-bg {
  overflow: hidden;
  color: $primary-text;
  background-color: #fff;
}
.block-a-1 {
  border-radius: 16px;
  margin-bottom: 16px;
  background-color: $green-light;
  position: relative;
  padding: 20px;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 133.33333%;
  }
  .block-a-1-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 40px 40px 48px;
    box-sizing: border-box;
    strong,
    .h4,
    .h6 {
      color: white;
    }
  }
}
.block-a-2 {
  border-radius: 16px;
  margin-bottom: 16px;
  border: 1px solid $green-light;
  position: relative;
  .block-a-2-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 40px 40px 48px
  }
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 60%
  }
}
.container-overflow {
  padding-bottom: 50px;
}
.container-overflow {
  width: 100vw;
  left: 0;
  padding: 0;
  position: relative
}
@media (min-width: 1280px) {
  .container-overflow {
    width: calc(120% + 32px);
    left: 0;
    margin-left: 0;
    padding: 0
  }
}
.hg-block {
  padding: 100px 0;
}
.link1 {
  color: #C93535;
  @include font-bold;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 16px;
  &:before {
    display: none;
  }
}
.xtitulo {
  @include font-regular();
  color: #fff;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 20px;
  background-color: #999;
  margin: 10px 0;
  text-align: center;
}
hr {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid transparent;
}
