

     .swiper-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition-property: -webkit-transform;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform,-webkit-transform;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
  }

  .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}



.swiper-container {
  overflow: initial;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  width: 20px;
  height: 20px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px;
}
.swiper-button-prev {
  left: 0;
  right: auto;
}
.swiper-button-next {
  left: 0;
  right: auto !important;
  left: 40px !important;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  top: auto !important;
  bottom: -40px;
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  color: white;
}




 .active-bar {
  position: absolute;
  width: 100px;
  height: 8px;
  background-color: #fff;
  bottom: 30px;
  border-radius: 50px;
}

 .swiper-slide-active .active-ball {
  width: 100%;
}

 .active-ball,  .swiper-slide-active .active-ball {
  position: absolute;
  height: 8px;
  background-color: $green;
  bottom: 0;
  border-radius: 50px;
}

.swiper-button-next:after, .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  color: $green-light;
}
