<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boilerplate holygrail</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prism-themes@1.3.0/themes/prism-material-light.css">
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/prism.min.js"> </script>
    <link rel="stylesheet" href="../dist/style.css">



</head>
<body class="hg">

    <section class="bleed-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="cover1 bg-dark is-flex align-vertical">
                        <img width="100%"
                            src="https://static.massimodutti.net/3/static2/media/2019/home/assets/placeholder/bases/2-1.jpg"
                            alt="">
                        <div class="cover1-content text-center">
    
                            <h3 class="fluid-h1">PROVEEDORES</h3>
                            <!-- ul>li*4>a.link4{link$} -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <section>
            <div class="container">
                <div class="row height-md">
                    <div class="col-xs-12 align-vertical">
                        <div class="text1 text-center ">
                            <div class="h2">Sólo trabajamos con proveedores que cumplen con nuestros niveles de exigencia.

</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


            <section class="mb-50">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="rat-1-1">
                                        <div class="content align-vertical">
                                            <img width="100%"
                                                src="https://static.massimodutti.net/3/static2/media/2019/home/assets/placeholder/bases/1-1.jpg"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 p-50">
                                    <h3 class="h3 miller-r mb-16 ">
                                        Cada una de nuestras prendas pasa por diferentes procesos antes de llegar a tienda.

                                    </h3>
                                    <p class="text-16-r mb-24">Para garantizar que en toda nuestra cadena de producción se respetan las condiciones laborales de los trabajadores, los niveles de seguridad de nuestros productos y el medioambiente, trabajamos con un sistema que nos permite saber dónde y cómo se han cortado, teñido, lavado y confeccionado todas nuestras prendas.</p>
                        
                                    <p class="text-16-r mb-24">Además, estamos desarrollando nuevas herramientas que nos permitan innovar en estos sistemas de gestión y poder así compartir la información en tiempo real.</p>



                    <a href="" class="link6">MÁS INFO</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



                <section class="mb-50">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <!-- img derecha  -->
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 p-50">
                     


<p class="text-16-r mb-24">
    En el ejercicio 2018, la cadena de suministro de Inditex la formaban 1.800 05, en 43 países que trabajaban con 7.235 fábricas. Más de un 57% de las fábricas en las que producimos están en áreas de proximidad en España, Portugal, Turquía y Marruecos. La parte restante se realiza en más de 40 países y regiones de América, Asia y resto del mundo.
</p>

<p class="text-16-r  mb-24">Todos nuestros 05 y fabricantes deben cumplir con los exigentes requisitos que establece nuestro Código de Conducta de Fabricantes y 05, que es la piedra angular de nuestro compromiso con la sostenibilidad desde 2001.</p>
<p class="text-16-r  mb-24">Para garantizar el cumplimiento de nuestros estándares sociales, medioambientales y de seguridad y salud evaluamos, implantamos planes de mejora y hacemos un seguimiento continuado de fabricantes y proveedores.</p>
<p class="h3 miller-r mb-16 ">Auditorias</p>
<p class="text-16-r ">Durante el ejercicio 2018, realizamos más de 12.000 auditorías sociales para verificar el cumplimiento de nuestro Código de Conducta. Además, para garantizar que nuestros productos cumplen nuestros estándares de seguridad y salud y de compromiso medioambiental realizamos evaluaciones de las instalaciones implicadas en nuestras producciones y análisis de los procesos productivos, en especial de aquellos que impliquen tratamiento de agua como el tintado o el lavado de las prendas.

</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class=" rat-1-1">
                                            <div class="content align-vertical">
                                                <img width="100%"
                                                    src="https://static.massimodutti.net/3/static2/media/2019/home/assets/placeholder/bases/1-1.jpg"
                                                    alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                    <section class="mb-50">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="rat-1-1">
                                                <div class="content align-vertical">
                                                    <img width="100%"
                                                        src="https://static.massimodutti.net/3/static2/media/2019/home/assets/placeholder/bases/1-1.jpg"
                                                        alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 p-50">
                                            <h3 class="h3">
                                                [h3.h3] Titulo
                                            </h3>
                                            <p>texto contenido</p>
                                            <h4 class="h4">
                                                [h4.h4] Subtitulo
                                            </h4>
                                            <p class="p1">
                                                [p.p1] texto contenido del subtitulo
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>



                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="rat-16-9">
                                        <div class="content">

                                            holas
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                        <section class="mb-50">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <!-- img derecha  -->
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 p-50">
                                                <h3 class="h3"> [h3.h3] Tiendas Massimo Dutti
                                                </h3>
                                                <p class="p1">[p.p1]ttttt.</p>
                                                <h4 class="h4">
                                                    [h4.h4] Ahorramos energía y agua
                                                </h4>
                                                <p class="p1">
                                                    [p.p1] texto contenido del subtitulo
                                                </p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <div class=" rat-1-1">
                                                    <div class="content align-vertical">
                                                        <img width="100%"
                                                            src="https://static.massimodutti.net/3/static2/media/2019/home/assets/placeholder/bases/1-1.jpg"
                                                            alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                            <section class="mb-50">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6">
                                                    <div class="rat-1-1">
                                                        <div class="content align-vertical">
                                                            <img width="100%"
                                                                src="https://static.massimodutti.net/3/static2/media/2019/home/assets/placeholder/bases/1-1.jpg"
                                                                alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 p-50">
                                                    <h3 class="h3">
                                                        [h3.h3] Titulo
                                                    </h3>
                                                    <p>texto contenido</p>
                                                    <h4 class="h4">
                                                        [h4.h4] Subtitulo
                                                    </h4>
                                                    <p class="p1">
                                                        [p.p1] texto contenido del subtitulo
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                                <section class="mb-50">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <!-- img derecha  -->
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6 p-50">
                                                        <h3 class="h3"> [h3.h3] Tiendas Massimo Dutti
                                                        </h3>
                                                        <p class="p1">[p.p1]ttttt.</p>
                                                        <h4 class="h4">
                                                            [h4.h4] Ahorramos energía y agua
                                                        </h4>
                                                        <p class="p1">
                                                            [p.p1] texto contenido del subtitulo
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <div class=" rat-1-1">
                                                            <div class="content align-vertical">
                                                                <img width="100%"
                                                                    src="https://static.massimodutti.net/3/static2/media/2019/home/assets/placeholder/bases/1-1.jpg"
                                                                    alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                    <section class="mb-50">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6">
                                                            <div class="rat-1-1">
                                                                <div class="content align-vertical">
                                                                    <img width="100%"
                                                                        src="https://static.massimodutti.net/3/static2/media/2019/home/assets/placeholder/bases/1-1.jpg"
                                                                        alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 p-50">
                                                            <h3 class="h3">
                                                                [h3.h3] Titulo
                                                            </h3>
                                                            <p>texto contenido</p>
                                                            <h4 class="h4">
                                                                [h4.h4] Subtitulo
                                                            </h4>
                                                            <p class="p1">
                                                                [p.p1] texto contenido del subtitulo
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                        <section class="mb-20">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="text-2">
                                                            <div class="text-2-content">
                                                                <div></div>
                                                                <h3 class="h3">DESCUBRE MÁS</h3>
                                                                <div></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>

                                        <section>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="card7">
                                                            <div class="card7-img"><img width="100%"
                                                                    src="https://static.massimodutti.net/3/static2/media/2019/home/assets/placeholder/bases/2-1.jpg"
                                                                    alt=""></div>
                                                            <div class="card7-text">
                                                                <h5 class="h5">card7</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="card7">
                                                            <div class="card7-img"><img width="100%"
                                                                    src="https://static.massimodutti.net/3/static2/media/2019/home/assets/placeholder/bases/2-1.jpg"
                                                                    alt=""></div>
                                                            <div class="card7-text">
                                                                <h5 class="h5">card7</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="card7">
                                                            <div class="card7-img"><img width="100%"
                                                                    src="https://static.massimodutti.net/3/static2/media/2019/home/assets/placeholder/bases/2-1.jpg"
                                                                    alt=""></div>
                                                            <div class="card7-text">
                                                                <h5 class="h5">card7</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="card7">
                                                            <div class="card7-img"><img width="100%"
                                                                    src="https://static.massimodutti.net/3/static2/media/2019/home/assets/placeholder/bases/2-1.jpg"
                                                                    alt=""></div>
                                                            <div class="card7-text">
                                                                <h5 class="h5">card7</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="card7">
                                                            <div class="card7-img"><img width="100%"
                                                                    src="https://static.massimodutti.net/3/static2/media/2019/home/assets/placeholder/bases/2-1.jpg"
                                                                    alt=""></div>
                                                            <div class="card7-text">
                                                                <h5 class="h5">card7</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>




                                        

</body>
</html>