


hr {
    border-top: 1px solid #eaeaea;
    border-bottom:1px solid transparent;
  }
/* LAYOUT - BLOCK */
.container-5 {
  position: relative;
  padding: 0 8px;
  margin: 0 auto;
  @media (min-width:$break-sm) {
    max-width: 800px;
  }
  @media (min-width:$break-lg) {
    max-width: 1600px;
    padding: 0 58px;
  }
}


  .link6 {
  @include font-bold;
    position: relative;
    display: inline-block;
    padding: 4px 0;
    margin: 20px 0;
    border-bottom: 2px solid #000000;
    color: black;

    font-size: 16px;
    line-height: 13px;
    letter-spacing: 0.5px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

.hg{
  .p-50{
    padding: 50px;
  }
}